<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Hangman web - Home</title>

</head>

<body>
    <div class="container">
        <nav class="navbar_hangman">
            <a href="#" class="logo"> <p style="font-family:chalktastic"> HANGMAN </p> </a>
        </nav>
        <img class="bureau" src="css/image/Menu.jpg" ;>

        <nav class="navbar_index">


            <ul class="navlinks_index">
                <li><a href="http://localhost:3000/hangman">
                        <p style="font-family:chalktastic"> Play </p>
                    </a></li>
                <li><a href="http://localhost:3000/rules">
                        <p style="font-family:chalktastic"> Rules </p>
                    </a></li>
                <li><a href="https://www.google.fr/">
                        <p style="font-family:chalktastic"> Exit </p>
                    </a></li>
            </ul>
        </nav>
    </div>
</body>

</html>