<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/fichier.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Hangman web - Lose</title>
</head>
</html>

<body>
<div class="container">
    <img class="bureau" src="css/image/tableaucraieLose.jpg">

    <div class="banner">
        <nav class="navbar_hangman">
            <a href="#" class="logo"> <p style="font-family:chalktastic"> HANGMAN </p> </a>
            <div class="navlinks_hangman">
                <ul>
                    <li class="active"><a href="http://localhost:3000/"> <p style="font-family:chalktastic"> Acceuil </p> </a></li>
                    <li><a href="about">  <p style="font-family:chalktastic"> About </p> </a></li>
                    <li><a href="rules"> <p style="font-family:chalktastic"> Rules </p> </a></li>
                    <li><a href="https://www.google.fr/">  <p style="font-family:chalktastic"> Exit </p> </a></li>
                </ul>
            </div>

        </nav>
        <div class="content">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1><p style="font-family:chalktastic">YOU LOST THE GAME AND  A FRIEND...</p></h1>
        </div>
    </div>
</div>
</body>